@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
  color:rgb(54, 52, 52)!important;
  font-weight: bold;
  
  
}
.btn{
  padding: auto;
}
.btn:hover{
  background-color: DodgerBlue;
  color:white;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.title{
  font-weight: bold;
 
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  
  
}


.home-card{
  max-width: 600px;
  height: max-content;
  margin: 26px auto;
  
  
}
.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}
.card-img-top{
  height: 150px;
  width: 310px;
}
h5{
  text-align: center;
}

#more {display: none;}

.card-title:hover{
color: blueviolet;
}
.card-text:hover{
  color: rgb(43, 113, 226);
}